a{
    text-decoration: none;
    color: aliceblue;
}
.container{
    width: 100%;
    height: 100%;
    position: relative;
  
}
#logo{
    background-color: black;
    width: 100%;
    height: 80px;
    line-height: 80px;
    display: flex;
    align-items: center;
    position: fixed;
    top:0px;
    z-index: 5;
}
#logo img{
    width: 90px;
    height: 90px;
    margin-top: -8px;
    margin-left: 140px;
}
#logo nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    border-radius: 22px;
    height: 100%;
    margin-left: 100px;

}
nav>a{
    color: aliceblue;
    text-decoration: none;
    padding: 0px 56px;
    border-radius: 22px;

}
body{
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;
    background-color: #f0ecec;
}
#logo span{
    color: aliceblue;
    font-size: 25px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav>a:hover{
    transition: 0.25s;
    background-color: rgb(56, 130,209);
    color: aliceblue;
}
h2{
   margin-top: 100px;
   text-align: center;
   font-size: 27px;
}
#order-details{
    margin-left: 100px;

}
#size{
    margin-left: 470px;
}
img{
    width: 700px;
    height: 700px;
    margin-left: -20px;
}
#choose-size{
    width: 200px;
    height: 200px;
}
.infomation{
    display: flex;
}
.size p{
    /* margin-top: 40px;
    margin-left: 100px; */
    font-weight: bold;
    font-size: larger;
    text-align: center;
}
.size{
    margin-left: 20px;
    margin-top: 20px;
    font-family: Arial, sans-serif;
}
select{
    width: 140px;
    height: 30px;
    margin-left: 0px;
    margin-top: 10px;
}
.quantity{
    align-items: center;
    font-family: Arial, sans-serif;
    margin-left: 60px;
    margin-top: 20px;
}
.quantity p{
    font-weight: bold;
    font-size: larger;
    text-align: center;
}
#buy-amount button{
    width: 35px;
    height: 30px;
    outline: none;
    background: none;
    border: 1px solid #ececec;
    cursor: pointer;
}
#buy-amount button:hover{
    background-color: #c2c1c1;
}
#buy-amount svg{
    color:#716e6e
}
#buy-amount{
    display: flex;
    margin-top: 29px;
}
#buy-amount input{
    width: 80px;
    height: 24px;
    text-align: center;
    border: 1px solid #ececec;
}
.total{
    align-items: center;
    font-family: Arial, sans-serif;
    margin-left: 90px;
    margin-top: 20px;
}
.total p{
    font-weight: bold;
    font-size: larger;
    text-align: center;
    margin-bottom: 31px;
}
#total-price{
    font-size: 20px;
    font-weight: bold;
    color: red;
}